@charset "UTF-8";
.encabezado {
  background: #42494d;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
  position: fixed;
  top: 0;
  height: 110px;
  width: 100%;
  border: 2px solid #222;
  box-sizing: border-box;
  z-index: 200;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between; }
  .encabezado__logoCont {
    height: 100%;
    width: 216px; }
    .encabezado__logoCont a {
      display: inline-block; }

.logo {
  display: block;
  object-fit: cover;
  max-height: 100%;
  margin: 8px; }

.navBarra {
  margin: auto 2%;
  max-height: 40%;
  flex-basis: 50%; }
  .navBarra__lista {
    list-style-type: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    max-height: 100%; }
  .navBarra__lisElem--prim {
    text-align: center;
    min-width: 170px; }
  .navBarra__lisElem--sec {
    display: none;
    text-align: center; }
  .navBarra__lisElem--produc:hover .navBarra__lisElem--sec {
    display: block;
    width: 100%;
    animation: menu .35s; }
  .navBarra__link {
    color: #a2a1a1;
    text-shadow: 1px 1px 2px black;
    background-color: rgba(0, 0, 0, 0);
    text-decoration: none;
    width: 100%;
    font-size: 1.1em;
    font-style: bold;
    font-weight: 500; }
    .navBarra__link:hover {
      background-color: #333333;
      color: #ffffff; }
  .navBarra__subLista {
    position: absolute;
    width: 100%;
    display: flex;
    flex-flow: column nowrap; }

.main {
  position: relative;
  background: #9fb0b4;
  background: radial-gradient(circle, #dadada 0%, #b9b9b9 58%, #a5a5a5 100%);
  color: #333;
  width: 100%;
  font-weight: 500; }
  .main h2 {
    margin: 5px 10px; }

.contenedor {
  padding-top: 110px; }

.headerMain {
  padding: 0px;
  border-top: none;
  display: flex;
  flex-flow: column nowrap;
  text-align: center; }
  .headerMain__intCarrusel {
    padding: 0; }
  .headerMain__imgCarrusel {
    width: 100%; }
  .headerMain__leyenda {
    padding-top: 20px;
    max-width: 70%;
    max-height: 70%;
    margin-bottom: 7%; }
  .headerMain__titulo {
    color: white;
    text-shadow: 1px 1px 2px #222;
    font-size: 2vw; }
  .headerMain__parrafo {
    text-align: center;
    font-size: 1vw;
    text-shadow: 1px 1px #222;
    line-height: 1vw; }

.principal {
  background-color: #ddd;
  padding: 1%;
  margin: 0px;
  box-sizing: border-box;
  overflow: hidden auto;
  color: #333; }
  .principal__titulo {
    font-family: 'Dancing Script', cursive; }
  .principal__subtitulo {
    font-size: 1.25em; }
  .principal__lista {
    margin-left: 20px; }
  .principal__lisElem {
    margin: 2px 0 2px 2px;
    font-size: 0.875em; }
  .principal__parrafo {
    text-indent: 1.5em;
    margin: 3px;
    font-size: 0.875em; }
  .principal__selector {
    color: #f0f0f0;
    background: #3d413f;
    padding-bottom: 3px;
    border: none;
    outline-style: none; }
    .principal__selector:hover {
      padding-bottom: 0px;
      border-bottom: solid turquoise; }

.divulgadores {
  background-color: #ccc;
  margin: 0px;
  overflow: hidden auto;
  box-sizing: border-box;
  align-content: center; }
  .divulgadores__titulo {
    padding-top: 12px;
    font-family: 'Dancing Script', cursive; }
  .divulgadores__section {
    margin: 5px 0;
    padding: 10px;
    height: 10em; }
  .divulgadores__texto {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    padding: 10px;
    margin: 0; }
  .divulgadores__imgCont {
    margin: 10px 0;
    max-height: 100%; }
    .divulgadores__imgCont > img {
      display: block;
      object-fit: cover;
      max-width: 120px;
      max-height: 100%;
      margin: auto;
      border-radius: 5px; }
  .divulgadores__subTitulo {
    font-size: 1.2em; }
  .divulgadores__parrafo {
    font-size: .8em; }

.piePagina {
  position: relative;
  height: 400px;
  display: grid;
  grid-template-columns: 50vw 25vw 25vw;
  grid-template-rows: 200px 200px;
  grid-template-areas: "form menu menu" "form contacto contacto";
  background: #1c2221;
  color: #cecece; }

.formFooter {
  margin: 40px auto;
  width: 80%;
  height: 350px;
  grid-area: form; }
  .formFooter__fieldSet {
    height: 350px;
    width: 100%;
    padding: 10px 20px;
    overflow: hidden; }
  .formFooter__contenido {
    padding: 5px;
    display: flex;
    flex-flow: column nowrap;
    align-content: center; }
  .formFooter__selector {
    color: #f0f0f0;
    background: #242b28;
    border: none;
    border-bottom: solid transparent;
    outline-style: none;
    transition: border-bottom .4s; }
    .formFooter__selector:hover {
      border-bottom: solid turquoise; }
  .formFooter__detalle {
    background: transparent;
    border: none;
    color: #f0f0f0;
    min-height: 120px;
    resize: vertical;
    border: none;
    border-bottom: solid transparent;
    transition: border-bottom .4s; }
    .formFooter__detalle:hover {
      border-bottom: solid turquoise; }
    .formFooter__detalle:focus {
      border-bottom: solid turquoise;
      outline: none;
      background: linear-gradient(0deg, rgba(0, 29, 36, 0.796) 0%, rgba(0, 0, 0, 0.364583) 34%, rgba(0, 0, 0, 0) 100%); }
  .formFooter__boton {
    background-color: #5e6d6a;
    color: #f0f0f0;
    min-width: 100px;
    padding: 1px;
    border-bottom: solid transparent;
    transition: .4s; }
    .formFooter__boton:hover {
      border-bottom: solid turquoise; }

.menuFooter {
  margin: 0 auto;
  padding: 5% 0;
  grid-area: menu;
  text-align: center; }
  .menuFooter__lista {
    list-style: none; }
  .menuFooter__lisElem .menuFooter__link:hover {
    color: #444; }

.contacto {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: auto;
  grid-area: contacto; }
  .contacto__titulo {
    display: inline-block; }
  .contacto__redes {
    display: flex;
    flex-flow: row nowrap; }
  .contacto__imgRedes {
    width: 60px;
    margin: 20px 15px; }
    .contacto__imgRedes:hover {
      animation: contacto 0.4s cubic-bezier(0.1, 0.3, 0.5, 0.1);
      transform: scale(1.3); }

.piePagina a:link {
  color: #fff;
  text-decoration: none;
  text-shadow: 1px 1px 2px #222; }

.main a:link {
  color: #fff;
  text-decoration: none;
  text-shadow: 1px 1px 2px #222; }

.piePagina a:visited {
  color: #fff;
  text-decoration: none;
  text-shadow: 1px 1px 2px #222; }

.main a:visited {
  color: #fff;
  text-decoration: none;
  text-shadow: 1px 1px 2px #222; }

.inputTexto {
  background: transparent;
  border: none;
  color: #f0f0f0;
  box-sizing: border-box;
  border-bottom: solid transparent;
  transition: border-bottom .4s; }
  .inputTexto:hover {
    border-bottom: solid turquoise; }
  .inputTexto:focus {
    border-bottom: solid turquoise;
    outline: none;
    background: linear-gradient(0deg, rgba(0, 29, 36, 0.796) 0%, rgba(0, 0, 0, 0.364583) 34%, rgba(0, 0, 0, 0) 100%); }

.principal__fieldset {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  text-align: center; }

.principal__inpCont {
  width: 60%; }

.principal__formLabel {
  display: block; }

.principal__inpText {
  width: 100%;
  color: #444;
  text-shadow: 1px 1px 2px white;
  font-weight: 500; }
  .principal__inpText:focus {
    background: linear-gradient(0deg, rgba(62, 66, 67, 0.796) 0%, rgba(130, 128, 128, 0.365) 34%, rgba(208, 208, 208, 0) 100%); }
  .principal__inpText--CV {
    min-height: 150px;
    margin-bottom: 0;
    box-sizing: border-box; }

.principal__boton {
  background-color: #5e6d6a;
  color: #f0f0f0;
  min-width: 100px;
  padding: 1px;
  border-bottom: solid transparent;
  transition: .4s; }
  .principal__boton:hover {
    border-bottom: solid turquoise; }

.principal__tabla {
  text-align: center;
  margin: 13px;
  border-radius: 5px; }

.principal__tablElem {
  padding: 5px; }

.principal__tablIcon--check {
  color: green; }

.principal__tablIcon--cross {
  color: red; }

/*Reducción de header de main*/
@media all and (max-width: 1199px) {
  .headerMain {
    display: none; } }

/*Reducción de aside*/
@media not all and (max-width: 991px) {
  .divulgadores__section {
    padding-left: 0; }
  .divulgadores__imgCont {
    padding: 2px; } }

@media all and (max-width: 767px) {
  .divulgadores {
    display: none; } }

/*Reducción nav y letra aside*/
@media not all and (min-width: 992px) {
  .navBarra__boton {
    position: absolute;
    right: 0; }
  .navBarra__lista {
    position: relative;
    flex-flow: column nowrap;
    justify-content: center;
    right: 0;
    top: 32px; }
  .navBarra__link {
    background-color: rgba(21, 21, 21, 0.6);
    color: #eee; }
    .navBarra__link--izq {
      border-top-left-radius: 50px;
      border-top-right-radius: 50px;
      border-bottom-left-radius: 0px; }
    .navBarra__link--der {
      border-bottom-left-radius: 50px;
      border-bottom-right-radius: 50px;
      border-top-right-radius: 0px; }
  .navBarra__lisElem {
    min-width: 50vw; }
    .navBarra__lisElem--produc:hover {
      margin-bottom: 84px; }
  .navBarra__subLista {
    top: 84px; }
  .contenedor aside h2 {
    font-size: 1.3em; }
  .contenedor aside h3 {
    font-size: 1.2em; } }

@media all and (max-width: 521px) {
  .encabezado {
    justify-content: center; }
  .navBarra {
    display: none; } }

@media all and (min-width: 992px) {
  .navBarra__lisElem--sec {
    max-width: 100%; }
  .navBarra__lisElem--produc:hover .navBarra__link--secundario {
    background-color: rgba(51, 51, 51, 0.6);
    color: #ffffff; }
  .navBarra__lisElem--produc:hover .navBarra__link--secUlt {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px; }
  .navBarra__subLista {
    max-width: 170px; }
  .navBarra__link.navBarra__link:hover {
    background-color: #333333; }
  .navBarra__link--izq {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px; }
  .navBarra__link--der {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px; } }

/*Reducción footer*/
@media all and (max-width: 880px) {
  .piePagina {
    height: 800px;
    grid-template-columns: 100vw;
    grid-template-rows: 400px 200px 200px;
    grid-template-areas: "form" "menu" "contacto"; }
  .formFooter {
    height: 380px; }
    .formFooter__fieldSet {
      height: 380px; } }

@media all and (max-width: 424px) {
  .contacto__imgRedes {
    margin: 20px 9px; } }

@media all and (max-width: 320px) {
  .piePagina {
    height: 1050px;
    grid-template-rows: 400px 200px 450px; }
  .contacto__redes {
    display: flex;
    flex-flow: column nowrap; } }

/*form Divulgá responsive*/
@media all and (max-width: 424px) {
  .textCv {
    min-width: 80%;
    margin: auto; } }

@keyframes menu {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes contacto {
  from {
    transform: scale(1); }
  to {
    transform: scale(1.3); } }
