.piePagina {
    position             : relative;
    height               : 25rem;
    display              : grid;
    grid-template-columns: 50vw 25vw 25vw;
    grid-template-rows   : 12.5rem 12.5rem;
    grid-template-areas  : "form menu menu""form contacto contacto";
    background           : $headerFooterBgColor;
    color                : #cecece;
}

.formFooter {
    margin   : 2.5rem auto;
    width    : 80%;
    height   : 21.875rem;
    grid-area: form;

    &__fieldSet {
        height  : 21.875rem;
        width   : 100%;
        padding : 0.625rem 1.25rem;
        overflow: hidden;
    }

    &__contenido {
        padding      : 0.3125rem;
        @include flexbox (column,nowrap);
        align-content: center;
    }

    &__selector {
        color         : rgb(240, 240, 240);
        background    : $headerFooterBgColor;
        border        : solid 0.0313rem rgba(240, 240, 240, .5);
        border-radius: 5px;
        transition: border-bottom .3s;
        height: 1.5625rem;

        &:hover {
            border-bottom : solid turquoise;
        }
    }

    &__input {
        background      : transparent;
        color           : rgb(240, 240, 240);
        box-sizing      : border-box;
        border          : solid 0.0313rem rgba(240, 240, 240, .5);
        transition: border-bottom .4s, padding-bottom .4s;
        border-radius   :5px;
        height: 1.5625rem;
        padding-bottom: 0.0625rem;
    
        &:hover {
            border-bottom: solid turquoise;
            padding-bottom: 0;
        }
    
        &:focus {
            border-bottom: solid turquoise;
            outline      : none;
            padding-bottom: 0;
            background   : linear-gradient(0deg, rgba(0, 29, 36, 0.796) 0%, rgba(0, 0, 0, 0.36458333333333337) 34%, rgba(0, 0, 0, 0) 100%);
        }
    }

    &__detalle {
        background  : transparent;
        border: none;
        color       : rgb(240, 240, 240);
        min-height  : 7.5rem;
        resize      : vertical;
        border        : solid 0.0313rem rgba(240, 240, 240, .5);
        border-radius: 5px;
        transition: border-bottom .3s;

        &:hover {
            border-bottom: solid turquoise;
        }

        &:focus {
            border-bottom: solid turquoise;
            outline      : none;
            background   : linear-gradient(0deg, rgba(0, 29, 36, 0.796) 0%, rgba(0, 0, 0, 0.36458333333333337) 34%, rgba(0, 0, 0, 0) 100%);
        }
    }

    &__boton {
        background-color: rgb(94, 109, 106);
        color           : rgb(240, 240, 240);
        min-width       : 6.25rem;
        padding         : 0.0625rem;
        border-bottom   : solid transparent;
        transition      : .3s;

        &:hover {
            border-bottom: solid turquoise;
        }
    }
}

.menuFooter {
    margin    : 0 auto;
    padding   : 5% 0;
    grid-area : menu;
    text-align: center;

    &__lista {
        list-style: none;
    }

    &__lisElem &__link {
        &:hover{
            color:#444;
        }
    }
}

.contacto {
    @include flexbox (column,nowrap);
    align-items: center;
    margin     : auto;
    grid-area  : contacto;

    &__titulo {
        display: inline-block;
    }

    &__redes {

        display  : flex;
        flex-flow: row nowrap;

    }

    &__imgRedes {
        width : 3.75rem;
        margin: 1.25rem 0.9375rem;

        &:hover {
            animation: contacto 0.4s cubic-bezier(0.1, 0.3, .5, 0.1);
            transform: scale(1.3);
        }

    }
}