@each $pseClass in link,
visited {
    .main a:#{$pseClass} {
        color          : rgb(22, 33, 41);
        text-decoration: none;
    }
}

@each $pseClass in link,
visited {
    .piePagina a:#{$pseClass} {
        color          : rgb(180, 180, 180);
        text-decoration: none;
    }
}

*{
    font-family: 'Roboto', sans-serif;
}