.main {
    position   : relative;
    color      : #333;
    width      : 100%;
    font-weight: 500;
}

.contenedor {
    padding-top: 6.875rem;
}

.principal {
    background-color: rgb(255, 255, 255);
    padding         : 1rem 2rem;
    margin          : 0px;
    box-sizing      : border-box;
    overflow        : hidden auto;
    color           : #333;
    min-height      : 31.25rem;

    &__titulo {
        font-family: 'Dancing Script', cursive;
        padding: .6rem 1.4rem;
    }

    &__subtitulo {
        font-size: 1.25rem;
        padding: .3rem 1.6rem;
    }

    &__lista {
        margin: 1rem 2.6rem;
    }

    &__lisElem {
        margin   : 0.125rem 0;
        font-size: 0.875rem;
    }

    &__parrafo {
        margin: .6rem 1.8rem;
        font-size  : 0.875rem;
    }

    &__selectorCont{
        margin: 1rem 0 .5rem 1.6rem;
    }

    &__link{
        margin: 0rem 1.6rem;
    }

    &__selector {
        color         : rgb(240, 240, 240);
        background    : rgb(61, 65, 63);
        padding-bottom: 0.1875rem;
        border        : none;
        outline-style : none;

        &:hover {
            padding-bottom: 0px;
            border-bottom : solid turquoise;
        }
    }
}

.divulgadores {
    background-color: rgb(255, 255, 255);
    margin          : 0px;
    overflow        : hidden auto;
    box-sizing      : border-box;
    align-content   : center;

    &__titulo {
        padding: 1.5rem 1.8rem;
        font-family: 'Dancing Script', cursive;
    }

    &__section {
        @include flexbox (row,nowrap);
        margin : 1.3125rem 0;
        height : 12rem;
        justify-content: space-between
    }

    &__texto {
        @include flexbox (column,nowrap);
        justify-content: space-evenly;
        width: 100%;
        margin : 1.2rem 0 0 1.6rem;
    }

    &__imgCont {
        margin: 0.625rem 0.8rem;
        max-height: 100%;
        max-width: 5.9rem;

        &>img {
            display      : block;
            object-fit   : cover;
            max-height   : 100%;
            border-radius: 0.3125rem;
        }
    }

    &__subTitulo {
        font-size: 1.2rem;
    }

    &__parrafo {
        font-size: .8rem;
    }
}