.main {
    position   : relative;
    color      : #333;
    width      : 100%;
    font-weight: 500;
    min-height: 60vh;
}

.contenedor {
    padding-top: 6.875rem;
    overflow: hidden;
}



.inicio{
    height: 100vh;
    position: relative;
    &__tituloPrincipal{
        position:absolute;
        margin: 14rem 16vw; 
        z-index: 10;
        font-size: 2.4rem;
        color:#547;
        letter-spacing: -.15rem;
        font-stretch: ultra-condensed;
    }
    &__adn{
        position: absolute;
        height: 25rem;
        top: -4rem;
        left: -5.5rem;
    }
    &__lista{
        margin: 17rem 14vw;
        list-style: none;
        z-index: 10;
    }
    &__lisElem{
        font-size: 3.5rem;
        font-weight: 750;
        color: rgb(20, 24, 40);
    }
    &__rectangulo{
        min-width: 28rem;
        height: 26rem;
        background-color: rgb(214, 214, 214);
        position: absolute;
        left: 26vw;
        top: 13rem;
        z-index: 5;
    }
    &__quimica{
        position: absolute;
        height: 15rem;
        left: 32rem;
        top: 32rem;
        z-index: 10;
    }
}

.principal {
    background-color: rgb(255, 255, 255);
    padding         : 1rem 2rem;
    margin          : 0px;
    box-sizing      : border-box;
    overflow        : hidden auto;
    color           : #333;

    &__titulo {
        font-size: 1.5rem;
        padding: .6rem 1.8rem;
        font-weight: 400;
    }

    &__section{
        margin-top:3rem;
        margin-bottom: 7.5rem;
    }

    &__subtitulo {
        font-size: 1.875rem;
        padding: .3rem 1.6rem;
        font-weight: bold;
    }

    &__lista {
        margin: 1rem 2.6rem;
    }

    &__lisElem {
        margin   : 0.125rem 0;
        font-size: 1.5rem;
    }

    &__link{
        font-size: 1.5rem;
        font-weight: 400;
    }

    &__parrafo {
        margin: .6rem 1.8rem;
        font-size  : 1.5rem;
        font-weight: thin;
    }

    &__bold{
        font-size  : 1.5rem;
        font-weight: bold;
    }

    &__selectorCont{
        margin: 1rem 0 .5rem 1.6rem;
    }

    &__link{
        margin: 0rem 1.6rem;
    }

    &__selector {
        color         : rgb(240, 240, 240);
        background    : rgb(61, 65, 63);
        padding-bottom: 0.1875rem;
        border        : none;
        outline-style : none;

        &:hover {
            padding-bottom: 0px;
            border-bottom : solid turquoise;
        }
    }
}

.divulgadores {
    background-color: rgb(255, 255, 255);
    padding         : 1rem 2rem;
    margin          : 0;
    box-sizing      : border-box;
    overflow        : hidden auto;
    color           : #333;

    &__titulo {
        font-family: 'Roboto', sans-serif;
        padding: 1.6rem 1.8rem;
        font-size: 1.5rem;
        font-weight: 400;
    }
    &__body{
        width: 100%;        
        @include flexbox (row,wrap);
        justify-content: space-evenly;
    }
    &__card{
        display: inline-block;
        max-width: 19rem;
        margin-bottom: 4rem;
    }
    &__cardBody{
        max-height: fit-content;
    }
    &__imagen {
        margin: .5rem;
        max-height:fit-content;
        max-width: 18rem;
    }
}