/*Reducción de header de main*/

@media all and (max-width: 1199px) {
    .headerMain {
        display: none;
    }
}

/*Reducción de aside*/

@media all and (max-width: 991px) {
    .divulgadores {
        &__section {
            margin: 0;
            padding: 0;
        }

        &__imgCont {
            padding: 0 0.8rem;
        }

        &__texto {
            margin-left: 1.7rem;
            justify-content: space-around;
        }

    }
}

@media all and (max-width: 767px) {

    .divulgadores {
        display: none;
    }
}

/*Reducción nav*/

@media not all and (min-width: 992px) {
    .navBarra {
        &__boton {
            position: absolute;
            right   : 0;
        }

        &__lista {
            position       : relative;
            flex-flow      : column nowrap;
            justify-content: center;
            right          : 0;
            top            : 2rem;
        }

        &__link {
            background-color: rgba(21, 21, 21, 0.6);
            color           : #eee;

            &--izq {
                border-top-left-radius   : 50px;
                border-top-right-radius  : 50px;
                border-bottom-left-radius: 0px;
            }

            &--der {
                border-bottom-left-radius : 50px;
                border-bottom-right-radius: 50px;
                border-top-right-radius   : 0px;
            }
        }

        &__lisElem {
            min-width: 50vw;
            &--produc {
                &:hover {
                    margin-bottom: 5rem;
                }
            }
        }

        &__subLista {
            top  : 5rem;
        }
    }
}

@media all and (max-width: 319px) {

    .encabezado {
        justify-content: center;
    }

    .navBarra {
        display: none;
    }
}

@media all and (min-width: 992px) {
    .navBarra {
        &__lisElem {
            &--sec {
                max-width: 100%;
            }

            &--produc {
                &:hover .navBarra__link--secundario{
                    background-color: rgba(51,51,51,.6);
                    color           : #ffffff;
                }
                &:hover .navBarra__link--secUlt {
                    border-bottom-left-radius : 15px;
                    border-bottom-right-radius: 15px;
                }
            }
        }

        &__subLista {
            max-width: 10.625rem;            
        }

        &__link {
            &#{&}:hover {
                background-color: rgba(51,51,51,1);
            }
            &--izq {
                border-top-left-radius   : 50px;
                border-bottom-left-radius: 50px;
            }

            &--der {
                border-top-right-radius   : 50px;
                border-bottom-right-radius: 50px;
            }
        }
    }


}

/*Reducción footer*/

@media all and (max-width: 880px) {
    .piePagina {
        height               : 50rem;
        grid-template-columns: 100vw;
        grid-template-rows   : 25rem 12.5rem 12.5rem;
        grid-template-areas  : "form""menu""contacto";
    }

    .formFooter {
        height: 23.75rem;

        &__fieldSet {
            height: 23.75rem;
        }

    }

}

@media all and (max-width: 424px) {
    .contacto {
        &__imgRedes {
            margin: 1.25rem 0.5625rem;
        }
    }
}

@media all and (max-width: 320px) {
    .piePagina{
    height               : 65.625rem;
    grid-template-rows   : 25rem 12.5rem 28.125rem;
    }
    .contacto {
        &__redes {
            @include flexbox (column,nowrap);
        }
    }
}

/*form Divulgá responsive*/

@media all and (max-width: 424px) {
    .textCv {
        min-width: 80%;
        margin   : auto;
    }
}

/*font-size*/

@media all and (min-width: 1300px){
    * {
        font-size: 25px
    }
}

@media all and (min-width: 1780px)  and (max-width: 2299px) {
    * {
        font-size: 20px
    }
}

@media all and (min-width: 1100px)  and (max-width: 1779px) {
    * {
        font-size: 16px
    }
}


@media all and (min-width: 600px) and (max-width: 1099px){
    * {
        font-size: 14px
    }
}

@media all and (max-width: 599px){
    * {
        font-size: 10px
    }
}