.principal {
    &__tabla {
        text-align   : center;
        margin       : 1.2rem auto;
        border-radius: 0.3125rem;
    }

    &__tablElem {
        padding: 0.3125rem;
    }

    &__tablIcon {
        &--check {
            color: green;
        }

        &--cross {

            color: red;
        }
    }
}