$headerFooterBgColor :rgb(28, 34, 33);

@mixin flexbox ($dir,$wrp){
    display: flex;
    flex-flow: $dir $wrp;
}


@import "header";
@import "main";
@import "footer";
@import "generalidades";

@import "divulga";
@import "productos-y-tabla";

@import "mediaqueries";
@import "keyframes";

