$headerFooterBgColor :rgb(28, 34, 33);

@mixin flexbox ($dir,$wrp){
    display: flex;
    flex-flow: $dir $wrp;
}

body{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 5rem minmax(60vh, max-content) 25rem;
}

@import "header";
@import "main";
@import "footer";
@import "generalidades";

@import "divulga";
@import "error";

@import "mediaqueries";
@import "keyframes";

